body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color:#ffffff;
	/*background-color:#f4f4f4;*/
}
/*Global*/
.container{
	width:80%;
	margin:auto;
	overflow:hiddle;
}
/*search 块*/
#search{
	text-align: ;
	border:;
}
#Box{
	margin-left:20%;
	border:;
}
#box{
}	
#search_result{
	margin-right:;
}
#search_button{
	background:rgb(28, 184, 65);
}
#search_save_button{
	background: rgb(66, 184, 221);
}


/*table information块*/
fieldset{
	text-align: center;
}
#oTable{
	text-align: center;/*字体居中*/
	margin: 0 auto;
	font-size:20px;
}
#tableButton{
	text-align: center;
}
/*Button样式*/
#add,
#saveToLocal,
#search_button,
#search_save_button
{
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#add{
	background: rgb(28, 184, 65);
}
#saveToLocal{
	background: rgb(66, 184, 221);
}
header{
	/*background:#34524a;*/
	background:#AEDD81;
	/*background:#3D9970;*/
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 3px solod;
}



header #branding{
	float:left;
}
header #branding h1{
	margin:0;
}
#games{
	text-align:center;
}
a:link {
	text-decoration: none;
    	color:#000000;
    }
a:visited {
    	color:#000000;
    	text-decoration:none;
    }
a:hover {
    	color:#00FF00;
    	text-decoration:underline;
    }
a:active {
    	color:#00FF00;
    	text-decoration:underline;
    }
.picture{
	display:inline;
}
footer{
	text-align:center;
	background-color:#ffffff;
}


